/*Style the body part */
body{
	/* Apply a Google Font */
	font-family: 'Heebo', sans-serif;
	line-height: 1.5;
}


/* display navigation bar in flex */
header{
	display:flex;
	flex-direction: column;
	align-items: center;
  }
  
  .nav_links{
	display: flex;
	flex-direction: column;
  }


/*Change the styling for all of the list 
items in the nav section*/
nav li{
	color: #000;
	font-weight: bolder;
	background: #f3f17e;
	padding:10px;
	width: 80%;
	border: 4px dashed #38721d;
	border-radius: 10px;
	margin: 10px;
	display: inline-block;
	text-align: center;
}

.active{
	background: #c2dab6;
    text-transform: uppercase;
	text-align: center;
	border: 4px solid #38721d;
}

a{
	color:#183d08
}

a:hover{
	font-style: italic;
}

.active a{
	text-decoration: overline underline;
	color: #555408;
}

.back{
	margin: 10px;
	border: 4px solid #38721d;
	padding: 10px;
	width: 40%;
	display: inline-block;
	text-align: center;
}



/* skip back to main content */
.back{
	margin: 5px;
	border: 2px solid #38721d;
	padding: 2px;
	width: 20%;
	background-color: #183d08;
	color:white;
	text-align: center;
	transition: left 1s ease-out;
	z-index: 1;
	/* Requirement 3 code here*/
	position: absolute;
	left: -500px;
}

a.back:focus{
    position: absolute;
    left: 0px;
    top: 20px;
    border-top: solid #f3f17e 2px;
  } 


/* Animate the logo */
#logo{
	position: relative;
	margin: 20px 10px;
	animation-name: lgmove;
	animation-duration: 1s;
	animation-timing-function: linear;
	width: 200px;
  }

  @keyframes lgmove {
	from {
	  transform: rotate(-30deg) translateY(-100%);
	  opacity: 0;
	}
	to {
	  transform: rotate(0deg) translateY(0%);
	  opacity: 1.0;
	}
  }



/* Style the headings*/
h1{
	font-size: 40px;
	font-weight: bold;
}

.title{
	text-align: center;
}

h2{
	font-size: 25px;
	font-weight: bold;
}

h3{
	font-size: 20px;
	font-weight:400;
}

h3 span{
	font-weight:bold;
}


/* Style the paragraphs */
p{
	margin: 10px;
}


/*Style the images*/
main img{
    max-height: 300px;
    padding: 2px;
    border-radius: 10px;
    margin: 5px auto;
	opacity:0.8;
	display: block;
}

main img:nth-child(odd){
    border: 3px dashed #38721d;
}

main img:nth-child(even){
	border: 3px dotted #969303;
}

main img:hover{
	width:60%;
	opacity:1;
	transition: 1s ease;
}

main img:nth-child(odd):hover{
	 box-shadow: 5px 5px 4px 5px #c2dab6;
 }

main img:nth-child(even):hover{
	box-shadow: 5px 5px 4px 5px #f3f17e;
}


/* Adding a background image to "Around the World" page */
#bgImage{
  background-image: url("../images/pepper4.jpg");
  background-color: #4b4b4b;
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 100px;
  font-size: 1.5em;
  line-height: 2;
  font-weight: 600;
}


/* Add font Awesome icons */
.fa-pepper-hot{
	font-size: 14px;
	color: red;
}

/* creating grids for childhood page. */
.gridContainer{
	display: grid;
	grid-template-columns: 1fr;
}

.beefNoodle,
.lamb,
.luosifen,
.hotPot,
.stirFry
{
  grid-column: 1;
}

.beefNoodle_image,
.lamb_image,
.luosifen_image,
.hotPot_image,
.stirFry_image{
  grid-column: 1;
  max-height: 500px;
  overflow: hidden;
  justify-self: left;
}


.childhood_gallery{
 grid-column: 1;
 justify-self: center;
}

.text{
	align-self:center;
	/* background-color: rgba(255, 255, 255, .8);
	border: 5px solid #183d08; */
	padding: 20px;
  }  




/* Creating flex for Around the World page. */
.flexContainer{
	display: flex;
	flex-direction: column;
}

.salsas,
.tomYum,
.kimchi,
.sik{
	margin: 20px 10px;
}



/* Style the flip card on Scoville Scale page */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	background-color: transparent;
	width: 200px;
	height: 300px;
	/* border: 1px solid #f1f1f1; */
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
	/* position: relative; */
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }

  .flip-card:focus .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	background-color: white;
	color: black;
  }
  
  .flip-card-front img{
	  width: 100%;
  }

  /* Style the back side */
  .flip-card-back {
	background-color: #38721d;
	color: white;
	transform: rotateY(180deg);
  }


/* style the footer */
footer{
	padding: 50px 0;
	text-align: center;
	color: #555408;
	font-weight: bolder;
	background-color:#c2dab6;
	margin: 20px;
}




/* Set up the tablet view */
/* For screen displays over 820px, which is recommended by this article: https://gbksoft.com/blog/common-screen-sizes-for-responsive-web-design/ and the best choice */
@media screen and (min-width: 768px){

/* display navigation bar in flex for desktop view */
header{
	display:flex;
	flex-direction: column;
	align-items: center;
  }
  
  .nav_links{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  }

  nav li{
	margin: 0px;
	border-radius: 0px;
	width: 100%;
	border: none;
}

/* creating grids for childhood page, tablet view. */
.gridContainer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 30px;
}

.beefNoodle,
.lamb,
.luosifen{
  grid-column: 1;
}

.hotPot,
.stirFry{
  grid-column: 2;
}

.beefNoodle_image,
.lamb_image,
.luosifen_image{
  grid-column: 2;
  max-height: 500px;
  overflow: hidden;
  z-index: 1;
  justify-self: right;
}

.hotPot_image,
.stirFry_image{
  grid-column: 1;
  max-height: 500px;
  overflow: hidden;
  z-index: 1;
  justify-self: left;
}


.beefNoodle, .beefNoodle_image{
  grid-row: 1 / 2;
}

.hotPot,.hotPot_image{
  grid-row: 2 / 3;
}

.lamb, .lamb_image{
  grid-row: 3 / 4;
}

.stirFry, .stirFry_image{
  grid-row: 4 / 5;
}

.luosifen, .luosifen_image{
  grid-row: 5 / 6;
}

.childhood_gallery{
	grid-column: 1 / span 1;
	justify-self: center;
   }

.text{
  align-self:center;
  max-height: 25vh;
  overflow: scroll;
  z-index: 2;
  background-color: rgba(255, 255, 255, .8);
  border: 5px solid #183d08;
  padding: 20px;
  }  


/* Create flex for world page, tablet view. */
.flexContainer_inner{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.top,
.metadata{
	margin: 20px 20px;
	width: 280px;
}

.paragraph{
	margin: 20px 20px;
	width: 1000px;
}

.world_gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.world_gallery img{
	width: 350px;
	margin: 20px;
}
}



/* Set up the desktop view */
/* For screen displays over 1280px, which is recommended by this article: https://gbksoft.com/blog/common-screen-sizes-for-responsive-web-design/ as the best choice*/
@media screen and (min-width: 1280px) {

/* display navigation bar in flex for desktop view */
header{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
  }
  
  .nav_links{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  }

  nav li{
	margin: 0px;
	border-radius: 0px;
	width: 100%;
	border: none;
}

/* creating grids for childhood page, desktop view. */
.gridContainer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 30px;
}

.beefNoodle,
.lamb,
.luosifen{
  grid-column: 1 /span 2;
}

.hotPot,
.stirFry{
  grid-column: 2 /span 2;
}


.beefNoodle_image,
.lamb_image,
.luosifen_image{
  grid-column: 2 / span 2;
  max-height: 500px;
  overflow: hidden;
  z-index: 1;
  justify-self: right;
}

.hotPot_image,
.stirFry_image{
  grid-column: 1 / span 2;
  max-height: 500px;
  overflow: hidden;
  z-index: 1;
  justify-self: left;
}


.beefNoodle, .beefNoodle_image{
  grid-row: 1 / 2;
}

.hotPot,.hotPot_image{
  grid-row: 2 / 3;
}

.lamb, .lamb_image{
  grid-row: 3 / 4;
}

.stirFry, .stirFry_image{
  grid-row: 4 / 5;
}

.luosifen, .luosifen_image{
  grid-row: 5 / 6;
}

.childhood_gallery{
	grid-column: 2;
	justify-self: center;
   }

.text{
  align-self:center;
  max-height: 25vh;
  overflow: scroll;
  z-index: 2;
  background-color: rgba(255, 255, 255, .8);
  border: 5px solid #183d08;
  padding: 20px;
  }  


/* Create flex for world page, tablet view. */
.flexContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.salsas,
.tomYum,
.kimchi,
.sik{
	margin: 20px 30px;
	background-color: #dee9d9;
	flex-basis: 500px;
	padding: 20px 20px;
	border-radius: 30px;
}

.top,
.metadata,
.paragraph{
	width: 400px;
}



}












/** Set for prefers reduced motion **/
@media screen and (prefers-reduced-motion: reduce){
	/* Turn off all animations */
	/* *, ::after, ::before{
		animation: none;
	   } */

	#logo{
	  animation: none;
	}

	html{
		scroll-behavior: auto; /* Removes scroll animation */
	  }
	
	  /*Turn off transition*/
	  a.back {
		-webkit-transition: initial; /* sets to default setting */
		transition: initial; /* sets to default setting */
	  }
	
	  /*Turn off parallax*/
	  .intro{
		background-attachment: initial;
	}

	/* Turn off flip card */
	.flip-card{
		animation: none;
	}
}